@font-face {
    font-family: Sans;
    src: url("/fonts/Galmuri11.woff2")format("woff2");
}

@font-face {
    font-family: Bold;
    src: url("/fonts/Galmuri11-Bold.woff2")format("woff2");
}

@font-face {
    font-family: Condensed;
    src: url("/fonts/Galmuri11-Condensed.woff2")format("woff2");
}

@font-face {
    font-family: Mono;
    src: url("/fonts/GalmuriMono11.woff2")format("woff2");
}

@font-face {
    font-family: Large;
    src: url("/fonts/Galmuri14.woff2")format("woff2");
}
